.root {
  display: flex;
  width: 100%;
  height: 723px;
  position: relative;
  flex-direction: column;
  background: var(--token-yMG9V7C7Ey0p);
  min-width: 0;
}
.freeBox__jraqp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.columns__vBv7V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__vBv7V > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vBv7V > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vBv7V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vBv7V > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xhk8E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 947px;
  height: 562px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin: 0px;
  }
}
.column__lGquv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px;
}
.column__lGquv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__lGquv > :global(.__wab_flex-container) > *,
.column__lGquv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lGquv > :global(.__wab_flex-container) > picture > img,
.column__lGquv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72.3px;
  color: var(--token---NS7qKIYLsJ);
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token---NS7qKIYLsJ);
    text-align: center;
    padding-bottom: 0px;
  }
}
.columns__qsEbn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__qsEbn > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qsEbn > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qsEbn > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qsEbn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qsEbn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hel2Z {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 0;
}
.column__hel2Z > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__hel2Z > :global(.__wab_flex-container) > *,
.column__hel2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__hel2Z > :global(.__wab_flex-container) > picture > img,
.column__hel2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__ra0Cf {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ra0Cf {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token---NS7qKIYLsJ);
    text-align: center;
    padding-bottom: 0px;
  }
}
.text__j0W16 {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j0W16 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token---NS7qKIYLsJ);
    text-align: center;
    padding-bottom: 0px;
  }
}
.column__pO8C7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 60px;
}
.column__pO8C7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__pO8C7 > :global(.__wab_flex-container) > *,
.column__pO8C7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pO8C7 > :global(.__wab_flex-container) > picture > img,
.column__pO8C7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__mbeNl {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mbeNl {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token---NS7qKIYLsJ);
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__kHzob {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kHzob {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__fiTot {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-mAr_4kcdqOCI);
  border-radius: 5px;
  padding: 6px 22px;
  border: 2px solid var(--token-yMG9V7C7Ey0p);
}
.link__fiTot > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__fiTot > :global(.__wab_flex-container) > *,
.link__fiTot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fiTot > :global(.__wab_flex-container) > picture > img,
.link__fiTot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fiTot {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-yMG9V7C7Ey0p);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fiTot > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fiTot > :global(.__wab_flex-container) > *,
  .link__fiTot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__fiTot > :global(.__wab_flex-container) > picture > img,
  .link__fiTot
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.svg__i8Dci {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-yMG9V7C7Ey0p);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text___23Oic {
  width: auto;
  height: auto;
  color: var(--token-yMG9V7C7Ey0p);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___23Oic {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-yMG9V7C7Ey0p);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.column__uQhP7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__dV7Bu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  background: #384647;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__qy33Q {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 2px 16px 27px;
}
.freeBox__qy33Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qy33Q > :global(.__wab_flex-container) > *,
.freeBox__qy33Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qy33Q > :global(.__wab_flex-container) > picture > img,
.freeBox__qy33Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qy33Q {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qy33Q > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___9SxVi {
  display: flex;
  width: 1300px;
  height: auto;
  margin-top: calc(0px + 16px) !important;
  padding: 50px 0px 0px;
}
.freeBox___9SxVi > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___9SxVi > :global(.__wab_flex-container) > *,
.freeBox___9SxVi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9SxVi > :global(.__wab_flex-container) > picture > img,
.freeBox___9SxVi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9SxVi {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 16px 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9SxVi > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9SxVi > :global(.__wab_flex-container) > *,
  .freeBox___9SxVi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9SxVi > :global(.__wab_flex-container) > picture > img,
  .freeBox___9SxVi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__wnQc1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__wnQc1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__wnQc1 > :global(.__wab_flex-container) > *,
.freeBox__wnQc1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnQc1 > :global(.__wab_flex-container) > picture > img,
.freeBox__wnQc1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnQc1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnQc1 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.svg__g8Da0 {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__g8Da0 {
    width: 100%;
    min-width: 0;
  }
}
.link__zosV8 {
  color: var(--token-SdhHTxn4hnuN);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zosV8 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-SdhHTxn4hnuN);
  }
}
.link__vbNgK {
  color: var(--token-SdhHTxn4hnuN);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vbNgK {
    font-size: 16px;
  }
}
.link__qx08N {
  color: var(--token-SdhHTxn4hnuN);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qx08N {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-SdhHTxn4hnuN);
  }
}
.freeBox__rqcqf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rqcqf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 0;
  }
}
.text__rmKcY {
  position: relative;
  color: var(--token-SdhHTxn4hnuN);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rmKcY {
    font-size: 12px;
    width: auto;
  }
}
.link___2HDd {
  position: relative;
  color: var(--token-mAr_4kcdqOCI);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2HDd {
    font-size: 12px;
    width: auto;
  }
}
.root .link___2HDd:hover {
  text-decoration-line: underline;
}
