.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 50px 0px 0px;
}
.root > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 16px 15px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.svg__kVbo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__onpjP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__onpjP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__onpjP > :global(.__wab_flex-container) > *,
.freeBox__onpjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onpjP > :global(.__wab_flex-container) > picture > img,
.freeBox__onpjP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onpjP {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onpjP > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onpjP > :global(.__wab_flex-container) > *,
  .freeBox__onpjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__onpjP > :global(.__wab_flex-container) > picture > img,
  .freeBox__onpjP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
.link__wXepA {
  color: var(--token-PXtk-v2EyGVI);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wXepA {
    font-size: 16px;
  }
}
.link__qJx {
  color: var(--token-PXtk-v2EyGVI);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qJx {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-PXtk-v2EyGVI);
  }
}
.link___1UoR8 {
  color: var(--token-PXtk-v2EyGVI);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1UoR8 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-PXtk-v2EyGVI);
  }
}
.freeBox__qwbWp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__qwbWp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__qwbWp > :global(.__wab_flex-container) > *,
.freeBox__qwbWp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qwbWp > :global(.__wab_flex-container) > picture > img,
.freeBox__qwbWp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1RjEc {
  position: relative;
  object-fit: cover;
  color: var(--token-PXtk-v2EyGVI);
  width: 30px;
  height: 30px;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-PXtk-v2EyGVI);
  padding-left: 10px;
  font-weight: 700;
  margin-right: 0px;
}
