.root {
  display: flex;
  width: 100%;
  height: 412px;
  position: relative;
  flex-direction: column;
  max-width: 260px;
  overflow: hidden;
  background: var(--token-yMG9V7C7Ey0p);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox__rJu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background: var(--token-wFyaS26GSplC);
  min-width: 0;
  flex-shrink: 0;
}
.img__uiIlo {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__uiIlo > picture > img {
  object-fit: cover;
}
.freeBox___51X7U {
  position: absolute;
  left: auto;
  top: 20px;
  right: 0px;
  height: 30px;
  width: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(233, 156, 46);
  flex-shrink: 0;
  display: none;
}
.text__egJ4Y {
  position: relative;
  color: var(--token-yMG9V7C7Ey0p);
}
.freeBox___74Fb4 {
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: auto;
  width: 100%;
  bottom: 0px;
  height: 35px;
  background: var(--token-6-9k9VEZ-);
  min-width: 0;
  display: none;
  padding: 10px;
}
.freeBox___74Fb4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___74Fb4 > :global(.__wab_flex-container) > *,
.freeBox___74Fb4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___74Fb4 > :global(.__wab_flex-container) > picture > img,
.freeBox___74Fb4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__agvT {
  position: relative;
  object-fit: cover;
  color: var(--token-yMG9V7C7Ey0p);
  height: 1em;
}
.text__dVnmK {
  position: relative;
  width: 100%;
  color: var(--token-yMG9V7C7Ey0p);
  min-width: 0;
}
.svg__oE464 {
  position: relative;
  object-fit: cover;
  color: var(--token-yMG9V7C7Ey0p);
  height: 1em;
}
.svg__diMqt {
  position: relative;
  object-fit: cover;
  color: var(--token-yMG9V7C7Ey0p);
  height: 1em;
}
.ratings___8Dsnh:global(.__wab_instance) {
  position: relative;
}
.freeBox__pkkX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pkkX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__pkkX > :global(.__wab_flex-container) > *,
.freeBox__pkkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkkX > :global(.__wab_flex-container) > picture > img,
.freeBox__pkkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.slotTargetTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--token-6RQquqT9oHRS);
}
.slotTargetPrice {
  color: var(--token-6RQquqT9oHRS);
  text-align: center;
  font-size: 18px;
}
