.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__c9S3K {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__c9S3K > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__c9S3K > :global(.__wab_flex-container) > *,
.freeBox__c9S3K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c9S3K > :global(.__wab_flex-container) > picture > img,
.freeBox__c9S3K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c9S3K {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__lWjJq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___9UI1B {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__bZmCs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bZmCs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__bZmCs > :global(.__wab_flex-container) > *,
.freeBox__bZmCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bZmCs > :global(.__wab_flex-container) > picture > img,
.freeBox__bZmCs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZmCs {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZmCs > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZmCs > :global(.__wab_flex-container) > *,
  .freeBox__bZmCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bZmCs > :global(.__wab_flex-container) > picture > img,
  .freeBox__bZmCs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__bZmCStm00I {
    display: none;
  }
}
.link___1KjKx {
  color: var(--token-yMG9V7C7Ey0p);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1KjKx {
    font-size: 16px;
  }
}
.link___2QAsI {
  color: var(--token-yMG9V7C7Ey0p);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2QAsI {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-yMG9V7C7Ey0p);
  }
}
.link__hqxMu {
  color: var(--token-yMG9V7C7Ey0p);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hqxMu {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-yMG9V7C7Ey0p);
  }
}
.freeBox__rhHx6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__rhHx6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rhHx6 > :global(.__wab_flex-container) > *,
.freeBox__rhHx6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rhHx6 > :global(.__wab_flex-container) > picture > img,
.freeBox__rhHx6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ydPzX {
  position: relative;
  object-fit: cover;
  color: var(--token-yMG9V7C7Ey0p);
  width: 30px;
  height: 30px;
}
.root .svg__ydPzX:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-yMG9V7C7Ey0p);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox___6NoL4 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__bKghf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__dMe3S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jaJzd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__hwI99:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___1E4Og:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
